
@import "./../mdui/css/mdui.min.css";
@import "./markdown.css";

/*reset*/

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 100px;
    padding-top: 64px;
    background-color: rgb(241,241,241);
    color: rgba(0, 0, 0, .87);
}
.g-nav{
    position: fixed; top: 0; left: 0; right: 0;z-index:1;
    background-color: rgb(255,255,255);
    box-shadow:0 1px 8px rgba(0,0,0,.3);
    font-size: 21px;
}
.g-logo {
    height: 64px;
    line-height: 64px;
    i{
        font-style: normal;
    }
    a{
        color: #FF5722;
        text-decoration: none;
    }
    a.g-header-link {
        font-size: 70%;
        color: rgba(0, 0, 0, .87);

    }
}
.g-user-btn {
    margin-top: 16px !important;
    a.mdui-btn{ 
        color:#fff;
        background-color: #03A9F4;
        height: 32px;
        line-height: 32px;
        padding: 0 8px;
        min-width: 64px;
    }
}
.g-user-header-btn {
    margin-top: 16px !important;
    a.user-avatar{
        height: 32px;
        width: 32px;
        border-radius: 50%;
        img {
            width:32px;
            height:32px;
        }
    }
    a.mdui-btn{
        color:#03A9F4;
        //background-color: #03A9F4;
        height: 32px;
        line-height: 32px;
        padding: 0 8px;
    }
}
.g-user-tab-link {
    a.active{
        border-bottom: 2px solid #2196f3;
        color: #2196f3; 
    }
}
.g-reply-list-item{
.g-reply-list-item-avatar {
    img {width:40px; height: 40px; vertical-align: middle;border-radius: 50%;}
    margin:8px;
    margin-bottom:0;
}
.g-reply-list-item-name {
    margin-top: 8px;
    line-height: 20px;
    .mdui-list-item-time{
        line-height: 20px;
    }
}
.g-reply-list-item-content{
    margin-left:8px;
    padding: 8px;
}
}
.g-time{font-size: 50%;}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #000;
    color: #fff;
}

.g-topic-button-color {
    color: #777;
    .mdui-btn {
        background-color: #eee;
    }
}
.g-edit-topics{
    background-color: rgba(255,255,255,1);
    padding: 32px 0;
}
/* 分页定制 */

.g-pagination {
    ul.pagination {
        list-style:none;
        display: flex;
        justify-content: center;
        li {
            padding: 8px;
            a {text-decoration: none;}
        }
    }
}

/* 个人中心 */
.g-user-banner-full {
    min-height: 40vh; 
    background-image: url('/images/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
.g-user-banner {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-align: end!important;
    -ms-flex-align: end!important;
    align-items: flex-end!important;
    min-height: 40vh;

}
.g-user-banner-info, .g-user-banner-avatar {
    -webkit-box-orient: horizontal!important; 
    -ms-flex-direction: row!important;
    flex-direction: row!important;
    margin: 24px;
    color: #fff;
}
.g-user-banner-info{
    margin:24px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
}
.g-user-banner-avatar {
    img{
        width: 120px;
        height: 120px;
        border-radius: 100%;
    }
}
.g-users-list {
    li{
        float: left;
        list-style: none;
        margin: 8px;
        img{
            width: 120px;
            height: 120px;
            border-radius: 50%;
            display:block;
        }
        a {
            display:block;
            margin:0 8px;
            text-align: center;
            max-width: 104px;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
        }

    }
}
/* 消息提示 */

.alert {
    min-height: 80px;
    padding: 16px;
    margin-top: 32px;
    .close {
        position: absolute;
        top: 16px;
        right: 16px;
        color: #f00;
    }
}

/*Vue 的动画*/
.g-reply-list-item {
    position:relative;
    border-bottom:2px solid #ddd;
}
ul.list-next{
        .list-enter-active{
            transition: all .8s ease;
        } 
        .list-leave-active {
            transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
        }
        .list-enter {
            transform: translateX(800px);
        }
        .list-enter-to, .list-leave {
            transform: translate(0,0);
        }
        .list-leave-to{
            transform: translateX(-800px);
        }
}
ul.list-prev{
        .list-enter-active{
            transition: all .8s ease;
        } 
        .list-leave-active {
            transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
        }
        .list-enter {
            transform: translateX(-800px);
        }
        .list-enter-to, .list-leave {
            transform: translate(0,0);
        }
        .list-leave-to{
            transform: translateX(800px);
        }
}
ul.list-add{
        .list-enter-active{
            transition: all .8s ease;
        } 
        .list-leave-active {
            transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
        }
        .list-enter {
            transform: translateY(-88px);
        }
        .list-enter-to, .list-leave {
            transform: translate(0,0);
        }
        .list-leave-to{
            transform: translateY(88px);
        }
}