
@import "./../mdui/css/mdui.min.css";

/*reset*/

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 100px;
    padding-top: 56px;
}
.g-logo {
    height: 56px;
    line-height: 56px;
    i{
        font-style: normal;

    }
    a{
        color: #FF5722;
        text-decoration: none;
    }
}
.g-user-btn {
    margin-top: 10px !important;
    a.mdui-btn{ color:#fff;}
}
.g-user-header-btn {
    a.user-avatar{
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
}
.g-user-tab-link {
    a.active{
        border-bottom: 2px solid #2196f3;
        color: #2196f3; 
    }
}
.g-reply-list-item{
.g-reply-list-item-avatar {
    img {width:40px; height: 40px; vertical-align: middle;border-radius: 50%;}
    margin:8px;
    margin-bottom:0;
}
.g-reply-list-item-name {
    margin-top: 8px;
    line-height: 20px;
    .mdui-list-item-time{
        line-height: 20px;
    }
}
.g-reply-list-item-content{
    margin-left:8px;
    padding: 8px;
}
}
.g-time{font-size: 50%;}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #000;
    color: #fff;
}

.g-topic-button-color {
    color: #777;
    .mdui-btn {
        background-color: #eee;
    }
}
/* 分页定制 */

.g-pagination {
    ul.pagination {
        list-style:none;
        display: flex;
        li {
            padding: 8px;
            a {text-decoration: none;}
        }
    }
}

/* 个人中心 */
.g-user-banner {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-align: end!important;
    -ms-flex-align: end!important;
    align-items: flex-end!important;
    min-height: 40vh;

}
.g-user-banner-info, .g-user-banner-avatar {
    -webkit-box-orient: horizontal!important; 
    -ms-flex-direction: row!important;
    flex-direction: row!important;
    margin: 24px;
    color: #fff;
}
.g-user-banner-info{
    margin:24px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
}
.g-user-banner-avatar {
    img{
        width: 120px;
        height: 120px;
        border-radius: 100%;
    }
}

/* 消息提示 */

.alert {
    min-height: 80px;
    padding: 16px;
    margin-top: 32px;
    .close {
        position: absolute;
        top: 16px;
        right: 16px;
        color: #f00;
    }
}