// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

/* universal */

body {
    font-family: Hiragino Sans GB, "Hiragino Sans GB", Helvetica, "Microsoft YaHei", Arial,sans-serif;
}

/* header */

.navbar-static-top {
    border-color: #e7e7e7;
    background-color: #fff;
    box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
    border-top: 4px solid #00b5ad;
    margin-bottom: 40px;
    margin-top: 0px;
}

/* Sticky footer styles */
html {
    position: relative;
    min-height: 100% ;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100% ;
    /* Set the fixed height of the footer here */
    height: 60px;
    .container {
        padding-right: 15px;
        padding-left: 15px;

        p {
            margin: 19px 0;
            color: #c1c1c1;

            a {
                color: inherit;
            }
        }
    }
}
.register-page {
    img.captcha {
        margin-bottom: 0px;
        margin-top: 10px;
        cursor: pointer;
    }
}
/* Topic Index Page */
.topics-index-page, .root-page, .tags-show-page {
    .topic-list {
        .nav > li > a {
            position: relative;
            display: block;
            padding: 5px 14px;
            font-size: 0.9em;
        }
        a {
            color: #444444;
        }
        .meta {
            font-size:0.9em;
            color: #b3b3b3;
            a {
               color: #b3b3b3;
            }
        }
        .badge {
            background-color: #d8d8d8;
        }
        .media-list .media {
            margin-top: 0;
            .media-heading {
                .topic-image{
                    display: block;
                    position: relative;
                    h4 {
                        position: absolute;
                        bottom: 0px;
                        left: 1em;
                        color: #fff;
                    }
                }
                img {
                    width: 100%;
                    max-height: 232px;
                    border-radius: 4px;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }
            .media-body, .media-info {
                padding: 8px 16px;
            }
            .media-body {
                height: 56px;
            }
        }
    }
}
.topic-reply {
    hr {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    a {
        color: inherit;
    }

    .meta {
        font-size: .9em;
        color: #b3b3b3;
    }
    .avatar {
        img {
            width: 48px;
            height: 48px;
        }
    }
    .get-more {
        margin-top: 16px;
    }
    .reply-box {
        a {
            color: $brand-primary;
        }
    }
}

.topics-create-page, .topics-edit-page {
    .tag-add-box {
        max-width: 320px;
    }
    .topics-tag-list {
        margin-bottom: 16px;
        .tag {
            display: inline-block;
            padding: 4px 8px;
            border: 1px solid $laravel-border-color;
            position: relative;
            border-radius: 4px;
            margin-right: 16px;
            span {
                position: absolute;
                right: -8px;
                top: -8px;
                border-radius: 16px;
                cursor: pointer;
            }
        }
    }
}
/* 个人中心 */

.g-user-banner-full {
    min-height: 40vh;
    background-image: url('/images/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
.g-user-banner {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-align: end!important;
    -ms-flex-align: end!important;
    align-items: flex-end!important;
    min-height: 40vh;

}
.g-user-banner-info, .g-user-banner-avatar, .g-user-banner-button {
    -webkit-box-orient: horizontal!important;
    -ms-flex-direction: row!important;
    flex-direction: row!important;
    margin: 24px;
    color: #fff;
}
.g-user-banner-info, .g-user-banner-button{
    margin:24px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
}
.g-user-banner-avatar {
    img{
        width: 120px;
        height: 120px;
        border-radius: 100%;
    }
}
.g-users-list {
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    .g-user-micro-info {
        margin: 0 16px 16px 16px;
    }
}

/* 迷你用户信息卡片 */

.g-user-micro-info {
    width: 280px;
    padding: 8px 16px;
    text-align:center;
    .avatar{
        img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        }
    }
    .name {
        padding: 8px;
        a{
            color: #ff6e40;
            text-decoration: none;
        }
    }
    .info {
        display:flex;
        justify-content: center;
        .count {
            padding: 0 16px;
            margin: 0;
            border-right:1px solid rgba(0,0,0,0.54);
            .text {
                color: rgba(0,0,0,0.54);
            }
            .total {
                font-weight: 600;
                padding-bottom: 4px;
            }
            &:last-child{
                border:none;
            }
        }
    }
    .button {
        margin-top:16px;
        .mdui-btn {
            color:#4285f4 !important;
            border: 1px solid #4285f4 !important;
            background-color: #fff !important;
            min-width: 124px;
            line-height: 34px;
            &:hover {
                background-color: rgba(0,0,0,0.05) !important;
            }
        }
    }
}
.g-user-banner-button {
    margin-left: 16px;
    .mdui-btn {
        min-width: 124px;
        line-height: 34px;
        color: #fff !important;
    }
}
/* 消息提示 */
/*
.alert {
    min-height: 80px;
    padding: 16px;
    margin-top: 32px;
    .close {
        position: absolute;
        top: 16px;
        right: 16px;
        color: #f00;
    }
}*/